<!DOCTYPE html>
<html lang="en">
{% load static %}


<div>
    <form action="{% url "edit_track" track.id %}" method="post">
        {% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Путь {{ track.name }}</h4>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <label>
                    <span>Наименование</span>
                    <input type="text" name="track_name" value="{{ track.name }}">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Наименование начальной станции</span>
                    <input type="text" name="track_start_name" value="{{ track.start_name }}">
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Кол-во пассажирских поездов (пар в сут)</span>
                    <input type="number" step="0.01" name="number_of_passenger_trains" value="{{ track.number_of_passenger_trains }}">
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Кол-во грузовых поездов (пар в сут)</span>
                    <input type="number" step="0.01" name="number_of_cargo_trains" value="{{ track.number_of_cargo_trains }}">
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Густота НЕТТО (в млн ткм/км)</span>
                    <input type="number" step="0.01" name="density_netto" value="{{ track.density_netto }}">
                </label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>

<script language="JavaScript">
    $('#myModal').on('hidden.bs.modal', function () {
        $('#myModal').removeData();
    });
</script>

</html>
